.element-card {
  width: 100% !important;
  max-width: 755px !important;
  border-color: transparent !important;
}

.card-active {
  border-width: 1 !important;
  border-color: #d6e0ef !important;
  background-color: #f9fbff !important;
  display: inline !important;
}
